{% extends "navbar.html" %}
    {% block content %}
        <section id="team" class="team team-bg py-5">
              <div class="container">
                <div class="section-title">
                  <p class="main-team-subheading">Team</p>
                  <p class="main-team-heading">Meet Our Team</p>
                </div>

                <div class="row">

                  <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="https://media-exp1.licdn.com/dms/image/C5603AQE2Ajdt2ZL0Zw/profile-displayphoto-shrink_400_400/0/1603010632092?e=1655337600&v=beta&t=GbM0JtjxHxLcPgTT_j3suID63HFtEnEQSazJkIvA6N4" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <p class="member-heading">Antara Chakrabarti</p>
                        <span>MUSAT | Backend and Frontend</span>
                        <p class="member-para">Aut maiores voluptates amet et quis</p>
                        <div class="social">
                          <a href="https://www.linkedin.com/in/antara-chakrabarti-7a89b61b3/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="https://media-exp1.licdn.com/dms/image/C5603AQFblE-VMupAPA/profile-displayphoto-shrink_200_200/0/1611808125532?e=1653523200&v=beta&t=Udq-l9RZ0sSkzRB3Anp_DKoqi5xZcDkjETdJyWFLA7c" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <p class="member-heading">Anushka Tiwari</p>
                        <span>MUSAT | Backend and Frontend</span>
                        <p class="member-para">Quisquam facilis cum velit laborum corrupti</p>
                        <div class="social">
                          <a href="https://www.linkedin.com/in/anushka-tiwari-050a511b0/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQEi46o-neOX0g/profile-displayphoto-shrink_400_400/0/1645174510801?e=1655337600&v=beta&t=Lrke_z5aWF_fs2v-y10L4e2-VnfOpMnuzAoUbBH9bbg" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <p class="member-heading">Priya Mittal</p>
                        <span>MUSAT | Data Analysis</span>
                        <p class="member-para">Explicabo voluptatem mollitia et repellat</p>
                        <div class="social">
                          <a href=""> <i class="fab fa-linkedin-in team-icon"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="https://media-exp1.licdn.com/dms/image/C5603AQHMmyhZTj3DBg/profile-displayphoto-shrink_400_400/0/1643702438589?e=1655337600&v=beta&t=Eo58JMBJ1lCDyo3ndTO2q6l0tMEu_89r9Zlx5KsJKEU" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <p class="member-heading">Taneesha Mathur</p>
                        <span>MUSAT | Data Analysis</span>
                        <p class="member-para">Dolorum tempora officiis odit laborum officiis</p>
                        <div class="social">
                          <a href=""> <i class="fab fa-linkedin-in team-icon"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </section>
    {% endblock %}