# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\extra\Hackathon\Order-Forecast-in-Oasis-Store\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
